<StackLayout row="1" col="0" height="{{layout.titPrinc.h}}" class="Bc1">
    <GridLayout rows="auto" columns="auto,*" width="80%" height="100%">
        <StackLayout row="0" col="0" height="100%" verticalAlignment="middle">
            <Label row="0" col="1" text="{{icono}}" fontSize="{{layout.titPrinc.ico1}}" textAlignment="center" class="icon Tcw"></Label>
        </StackLayout>
        <StackLayout row="0" col="1" paddingLeft="{{layout.titPrinc.paddL}}" verticalAlignment="middle">
            <Label text="{{titulo}}" fontSize="{{layout.titPrinc.t1}}" textWrap="true" class="Tb Tcw"></Label>
            <Label text="{{descripcion}}" fontSize="{{layout.titPrinc.t2}}" textWrap="true" class="Tcw"></Label>
        </StackLayout>
    </GridLayout>
</StackLayout>