<GridLayout row="0" col="0" rows="auto" columns="auto,*,auto" height="{{layout.header.h}}">
    <StackLayout row="0" col="0" width="{{layout.header.lat}}" height="100%" verticalAlignment="middle">
        <Button text="{{angleLeft}}" fontSize="{{layout.header.ico1}}" class="icon buttT2 Tcw" (tap)="onButtonBack()" pageTransition="{{transition}}"></Button>
    </StackLayout>
    <StackLayout row="0" col="1" height="100%" verticalAlignment="middle">
        <Label row="0" col="1" text="{{icoHdi}}" fontSize="{{layout.header.logo}}" textAlignment="center" class="icon Tcw"></Label>
    </StackLayout>
    <StackLayout row="0" col="2" width="{{layout.header.lat}}" height="100%" verticalAlignment="middle">
    </StackLayout>
</GridLayout>